.gallery {
  margin-top: 120px;
  width: 100vw;
  text-align: center;
  backdrop-filter: blur(5px) sepia(20%) contrast(250%) grayscale(10%) invert(20%);
  box-shadow: 0 -3px 15px white;
  z-index: 0;
  background-color: rgba(230, 115, 250, 0.2);
  color: white;
}

.gallery h1 {
  margin-top: 50px;
}

.gallery-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 4fr));
  gap: 1rem;
  /* padding-left: 34px */
}

.gallery-item img {
  border: 2px solid pink;
  filter: sepia(90%) saturate(120%) contrast(120%);
  transition: transform 0.3s 0.2s cubic-bezier(0.215, 0.610, 0.355, 1), filter 0.5s ease, border-radius 0.8s cubic-bezier(.37, -0.5, .33, 1.52);
  border-radius: 160px;
  transform: scale(0.6)
}

.gallery-item img:hover {
  filter: sepia(0%) saturate(100%) contrast(100%);
  transform: scale(1.1);
  border-radius: 3px;
}
