html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /* Ensures that scrolling snaps to sections */
}

@font-face {
  font-family: 'CatPaw';
  src: url('/CatPaw-font.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
  font-size: 24px;
}

@font-face {
  font-family: 'MeowsNepil';
  src: url('/MeowsNepil-font.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("/cafe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  scroll-behavior: smooth;
}

.cat-fonts {
  font-family: 'MeowsNepil', sans-serif;
  user-select: none;
  -webkit-user-select: none;
}
